<!-- <form (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="productForm.get('name') !== null && productForm.get('name')?.errors && productForm.get('name')?.touched"
            class="error">
            Nombre es requerido.
        </div>

    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" formControlName="price">
        <div *ngIf="productForm.get('price') !== null && productForm.get('price')?.errors && productForm.get('price')?.touched"
            class="error">
            Precio es requerido y debe ser mayor que cero.
        </div>

    </div>
    <div>
        <label for="description">Descripción:</label>
        <textarea id="description" formControlName="description"></textarea>
    </div>
    <button type="submit">Crear Producto</button>

</form> -->

<h1>hihi</h1>