<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <link rel="stylesheet" href="header.component.scss">
</head>

<body>
<img src="../../../assets/images/header.png" alt="" class="logo">
    <header class="header">
        
        <div class="container">
            <nav>
                <ul class="nav">

                    <a routerLink="">
                        <section class="index-card">
                            <img src="../../../assets/images/energia-nuclear.png" alt="" class="icon">
                            <li>Home</li>
                        </section>
                    </a>

                    <a routerLink="products">
                        <section class="index-card">
                            <img src="../../../assets/images/prismaticos.png" alt="" class="icon">
                            <li>Prods.</li>
                        </section>
                    </a>
                    <a routerLink="management">
                        <section class="index-card">
                            <img src="../../../assets/images/timon.png" alt="" class="icon">
                            <li>Gestión</li>
                        </section>
                    </a>
                    
                </ul>
            </nav>
        </div>
    </header>

</body>

</html>


